$colorPrimary: #C0392B;
$colorPrimaryHover: #CF000F;
$colorSecondary: #ECF0F1;
:root {
  --colorPrimary: $colorPrimary;
  --colorPrimaryHover: $colorPrimaryHover;
  --colorSecondary: $colorSecondary;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.player {
  width: 100%;
}

.player-bar {
  display: flex;
  color: var(--colorPrimary);
  background: rgba(255, 255, 255, 0.3);
}

.player-buttonGroup {}

.player-button {
  width: 40px;
  height: 51px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.player-button--primary {
  background: var(--colorPrimary);
  color: var(--colorSecondary);
  &:hover {
    background: darken($colorPrimary, 4%);
  }
}

.player-button--secondary {
  background: var(--colorSecondary);
  color: var(--colorPrimary);
}

.player-progress {
  flex: 1;
  position: relative;
  overflow: hidden;
}

@mixin stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all linear 1s;
}

.player-progress-bar {
  @include stretch;
  background: var(--colorPrimary);
  --transformX: calc(-1 * (100% - var(--percentage, 100%)));
  transform: translateX(var(--transformX));
}

@mixin playerTitle {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-title-overlay {
  @include stretch;
  color: var(--colorSecondary);
  overflow: hidden;
  white-space: nowrap;
  width: calc(var(--percentage, 100%));
}

.player-title-overlay-content {
  @include playerTitle;
}

.player-title {
  @include playerTitle;
}

.player-time {
  margin-left: 15px;
  margin-right: 15px;
}

.player-metabar {
  background: var(--colorPrimary);
  color: var(--colorSecondary);
}

.player-background {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  transform: translateY(-50%);
}

.blur-background {
  filter: blur(15px);
  -webkit-filter: blur(15px);
}